<!-- Test MotionModel / Odometry by using only one particle w. no noise -->

<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(find ORB_SLAM2v2)/global_octomap.bt" output="screen"/>
        <node pkg="humanoid_localization" type="localization_node" name="humanoid_localization" output="screen">
        <remap from="point_cloud" to="/camera/depth/points" />      
        <param name="odom_frame_id" value="/odom" />
        <param name="base_frame_id" value="/base_link" />
        <param name="global_frame_id" value="/map" />
        <param name="num_particles" value="2000" />
        <param name="use_raycasting" value="false" />    
        <param name="use_imu" value="false" />
        <param name="base_footprint_id" value="/base_link" />
	<param name="init_global" value="true" />
        </node>
</launch>
